.root {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
    -fx-font-size: 20px ;
}

#VboxlLeftButton {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 10px;
    -fx-background-radius: 10px 0px 0px 10px;
}

#VboxlLeftButton:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-width: 2px;
    -fx-border-color: #b489ff;
    -fx-border-radius: 10px 0px 0px 10px;
    -fx-border-style: solid;
}
#activeUserMenuBar .arrow{
    -fx-content-display: none;
}
#activeUserProfileImage {
    -fx-border-radius: 25px;
}
#topNavigation, #topTitleBar {
    -fx-background-color: white;
}
#topTitleBar {

}

#sideNavigation {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ddd;
    -fx-border-width: 1px 0px 1px 1px;
}
#basicMenuDropdown {
    -fx-background-color: transparent; /* Make button background transparent */
    -fx-text-fill: #333; /* Set text color to black */
    -fx-font-size: 20px; /* Set font size */
    -fx-padding: 10px 15px; /* Add some padding */
    -fx-border-radius: 5px; /* Set border radius */
    -fx-border-color: transparent; /* Remove border */
}

#basicMenuDropdown .menu {
    -fx-background-color: white; /* Set background color for dropdown */
    -fx-border-color: #ddd; /* Add a border to the dropdown */
    -fx-border-radius: 5px; /* Set border radius */
    -fx-border-width: 1px; /* Set border width */
}

#basicMenuDropdown .menu .menu-item {
    -fx-text-fill: #333; /* Set text color for menu items */
    -fx-border-radius: 5px; /* Set border radius */
    -fx-padding: 10px 15px; /* Add padding to menu items */
}

#basicMenuDropdown .menu .menu-item:hover {
    -fx-background-color: #f0f0f0; /* Highlight hovered menu items */
}
/* Specific styles for individual buttons (if you assigned IDs) */
#dashboardButton {
    /* Custom styles for the dashboard button */
}

#workoutsButton {
    /* Custom styles for the workouts button */
}

#profileButton {
    /* Custom styles for the profile button */
}

#mainContentPane {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-radius: 10px;
}
#dashboardInfoBox
{
    -fx-background-color: #efefef;
    -fx-border-color: #ddd;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}